# Modèles de Deep Learning et Checkpoints lourds
*.safetensors
*.bin
*.onnx
*.pt
*.pth
*.ckpt
checkpoints/
*-checkpoints/
models/
mms_model/
mms_tts_model/
opus_mt_*/
merina_to_*/
merina-betsileo-*

# Datasets et fichiers de données lourds
dataset/
dataset_*/
*.csv
*.tsv
*.parquet
*.jsonl
*.txt
!requirements.txt
!scrapping/*.txt

# Fichiers audio et médias temporaires
*.wav
*.mp3
*.m4a
*.ogg
*.flac
uploads/
tts_output/
transcriptions/
subtitles/

# Python & Environnements
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js & Web UI
node_modules/
.next/
out/
.env*.local

# Flutter & Mobile App
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.apk
*.aab
build/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
.gradle/
local.properties

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
